<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs290.touch.to.chat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.nfc" />

    <permission
        android:name="edu.ucsb.cs290.touch.to.chat.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="edu.ucsb.cs290.touch.to.chat.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".ConversationListActivity"
            android:label="@string/title_conversation_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversationDetailActivity"
            android:label="@string/title_conversation_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConversationListActivity" />
        </activity>
        <activity android:name=".NewContactActivity" >
        </activity>
        <activity android:name=".KeyGenerationActivity" >
        </activity>
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_auth" >
        </activity>
        <activity
            android:name=".BeginKeyExchangeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_begin_key_exchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ucsb.cs290.touch.to.chat.NewContactActivity2y" />
        </activity>
        <activity
            android:name=".EndKeyExchangeActivity"
            android:label="@string/title_activity_end_key_exchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ucsb.cs290.touch.to.chat.BeginKeyExchangeActivity" />
        </activity>

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />

        <service
            android:name=".KeyManagementService"
            android:enabled="true"
            android:exported="false" >
        </service>
        
        <service android:name="edu.ucsb.cs290.touch.to.chat.GCMIntentService"/>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="edu.ucsb.cs290.touch.to.chat" />
            </intent-filter>
        </receiver>
    </application>

</manifest>